.fondo{
    //height:40em; width:auto; 
    background-size:cover; 
    background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/77801cc4-7cda-4520-b205-449f4531e4e1/d557zhe-d91204ff-c32f-4e9b-b04c-bb15e49168af.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNzc4MDFjYzQtN2NkYS00NTIwLWIyMDUtNDQ5ZjQ1MzFlNGUxXC9kNTU3emhlLWQ5MTIwNGZmLWMzMmYtNGU5Yi1iMDRjLWJiMTVlNDkxNjhhZi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.g6nnhOGSAlDEv-kPYU-IURS0whSV-1VVulXSVIDMrbU');
    background-position:50% 50%;
    width: 100%;
    height: 100%;
}